{% extends '../base/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/Estilos.css' %}" />
{% block content %}
<div class="container mt-5">
  <div class="row">
      <h2 id="titulo_catalogo" class="text-center" style="color: white;">Bodega de ferremas</h2>
  </div>
</div>

<!-- Formulario de búsqueda -->
<div class="row">
    <form method="GET" action="{% url 'catalogo' %}" class="mb-5">
        <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Buscar producto...">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>
</div>

<!-- Mensaje de error -->
{% if mensaje_error %}
    <div class="alert alert-danger" role="alert">
        {{ mensaje_error }}
    </div>
{% endif %}

<div class="row mt-5 d-flex card-container">
    {% for juego in juegos %}
    <div class="card card-catalogo col-lg-3 col-md-4 col-6 mb-4 text-center">
        {% if juego.imagen %}
            <img src="{{ juego.imagen.url }}" alt="{{ juego.nombre }}" class="card-img-top img-producto">
        {% else %}
            <img src="{% static 'images/last.avif' %}" alt="{{ juego.nombre }}" class="card-img-top img-producto">    
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ juego.nombre }}</h5>
            <h5 class="card-price">${{ juego.precio }}</h5>
            <p class="card-description">{{ juego.descripcion }}</p>

        {% if juego.stock > 0 %}
            <p class="text-success">Producto disponible: {{ juego.stock }} en stock</p>
        {% else %}
            <p class="text-danger">Producto disponible</p>
        {% endif %}

            
            <a href="{% url 'detalle_producto' juego.id %}" class="btn btn-info btn-block">Ver stock</a>

        </div>
    </div> 
    {% empty %}
        <p>No hay juegos disponibles.</p>
    {% endfor %}
</div>

<!-- Paginación -->
<div class="page-changer-container mt-5 rounded" style="background-color: white;">
    <nav aria-label="Page navigation example" class="mx-auto" style="width: fit-content;">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
