{% extends '../base/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            
            {% if juego.imagen %}
                <img src="{{ juego.imagen.url }}" alt="{{ juego.nombre }}" class="img-fluid">
            {% else %}
                <img src="{% static 'images/last.avif' %}" alt="{{ juego.nombre }}" class="img-fluid">
            {% endif %}
        </div>
        
        <div class="col-md-6 text-white"> 
            <h2>{{ juego.nombre }}</h2>
            <h4 class="text-muted">${{ juego.precio }}</h4>
            <p>{{ juego.descripcion }}</p>
            
            {% if juego.stock > 0 %}
                <p class="text-success">Producto disponible: {{ juego.stock }} en stock</p>
            {% else %}
                <p class="text-danger">Producto no disponible</p>
            {% endif %}
            
            {% if juego.stock > 0 %}
                <a href="{% url 'add_to_cart' juego.id %}" class="btn btn-success btn-lg">""</a>
            {% else %}
                <button class="btn btn-secondary btn-lg" disabled>con stock (30 UNIDADES)</button>
            {% endif %}
            
            <div class="mt-3">
                <a href="{% url 'catalogo_bodeguero' %}" class="btn btn-info">Volver al catálogo</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
