{% extends '../base/base.html' %}
{% load static %}


{% block content %}
    <!--Carrusel-->
    
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" class="slide">
            <img src="{% static 'images/herramientas.webp'%}" widt="300" height="500" class="d-block w-100" alt="portada slide 1">
            <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50">
              <h5 style="color: rgb(255, 0, 225);">¡BIEVENIDO !</h5>
              <p style="color: rgb(251, 0, 255); ">A  <span style="font-style: italic;">FERREMAS</span> CON NUESTROS MEJORES PRODUCTOS</p>
            </div>
          </div>
          <div class="carousel-item" class="slide">
            <img src="{% static 'images/esmeril.jpeg'%}" widt="300" height="500" class="d-block w-100" alt="portada slide 2">
            <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-25">
              <h5>EN TUS PROYECTOS</h5>
              <p>POTENCIA Y CALIDAD <span style="font-style: oblique; color: rgb(248, 0, 0);"><u>CON FERREMAS</u></span></p>
            </div>
          </div>
          <div class="carousel-item" class="slide">
            <img src="{% static 'images/taladro.jpg'%}" widt="300" height="500" class="d-block w-100" alt="portada slide 3">
            <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50">
              <h5>TEN EXITO AL </h5>
              <p>Completa tus proyectos con ferremas </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!--Segunda parte-->  
      <br>
      <div class="container">
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <div class="card" style="background-image: url('{% static 'images/ladrrilo.jpg' %}');">
                    <div class="card-header" id="bestseller_header" style="background-image: url('{% static 'images/ladrrilo.jpg' %}'); background-size: cover; background-position: center;">
                        <h5 style="font-size: xx-large; color: white;">LO MÁS VENDIDOS DE FERREMAS </h5>
                        <p style="color: white;">No te los quieres perder</p>
                    </div>
                    <div class="container overflow-hidden">
                        <div class="row mb-3">
                            <div class="col-md-4 col-sm-6"> <!-- Ajuste de columnas -->
                                <div class="card h-100" style="width: 100%;">
                                    <img src="{% static 'images/mig-soldadora.jpg'%}" class="card-img-top h-75" alt="...">
                                    <div class="card-body h-25">
                                        <h5 class="card-title">Soldadora </h5>
                                        <p class="card-text">soldadora de alta potencia para los diferentes fierros.</p>
                                        <a href="#" class="btn btn-primary">Ver Producto</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6"> <!-- Ajuste de columnas -->
                                <div class="card" style="width: 100%;">
                                    <img src="{% static 'images/llaves.jpeg'%}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Set de llaves </h5>
                                        <p class="card-text">Set de llaves de 2.5mm a 20mm.</p>
                                        <a href="{% url 'producto_spider' %}" class="btn btn-primary">Ver Producto</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6"> <!-- Ajuste de columnas -->
                                <div class="card" style="width: 100%;">
                                    <img src="{% static 'images/lijas.jpg'%}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Kit de lijas</h5>
                                        <p class="card-text">Kit de lijas mas vendidas de ferremas.</p>
                                        <a href="#" class="btn btn-primary">Ver Producto</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

    <!--TERCERA parte-->
    <br><br>
    <div class="container-fluid">
      <div class="row" id="fila_circulos">
          <div class="col-md-3 col-sm-6">
              <img src="{% static 'images/llave francesa.png'%}" class="imagen_redondeada_2 img-fluid" alt="logo 1">
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="{% url 'catalogo' %}">
              <img src="{% static 'images/catalogue.png' %}" class="imagen_redondeada_2 img-fluid" alt="logo 2">
          </a>
          
          </div>
          <div class="col-md-3 col-sm-6">
              <img src="{% static 'images/tornillo.avif'%}" class="imagen_redondeada_2 img-fluid" alt="logo 3">
          </div>
          <div class="col-md-3 col-sm-6">
              <img src="{% static 'images/ladrrilo.jpg'%}" class="imagen_redondeada_2 img-fluid" alt="logo 4">
          </div>
      </div>
  </div>
  
  {% endblock %}

   