
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Estilos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<style>
  #body_producto {
      background-image: url('{% static "images/fondoferremas.jpg" %}');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100vh; 
  }
</style>

<body id="body_producto">

  
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid" id="navbar1">
      <a class="navbar-brand" href="{% url 'home' %}" >
        <img src="{% static 'images/ferremass.jpg' %}" class="imagen_redondeada" alt="Logo" style="width: 150px; height: auto;">
      </a>
      
      <form class="d-flex mx-auto w-20" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="login" style="font-size: medium;">
              <span class="fas fa-user"></span> Iniciar Sesión
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="carrito">
              <span class="fas fa-shopping-cart" style="width: 30px;"></span> Carrito de compras
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Navbar 2 -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav row-cols-md-1">
          <li class="nav-item" style="background-color: green">
            <a class="nav-link" href="#"><span style="color: rgb(16, 212, 16);">IR A</span></a>
          </li>
          <li class="nav-item" style="background-color: lightblue">
            <a class="nav-link" href="#"><span style="color: blue;">CATALOGO</span></a>
          </li>
          <li class="nav-item" style="background-color: lightcoral">
            <a class="nav-link" href="#"><span style="color: red;">DE </span></a>
          </li>
          <li class="nav-item" style="background-color: lightyellow">
            <a class="nav-link" href="#"><span style="color: goldenrod;">FERREMAS</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <div class="card mt-3">
        <div class="text-center"> 
          <img src="{% static 'images/llaves.jpeg' %}" 
          class="card-img" alt="Imagen del producto de la llave" style="max-width: 600px; height: auto;">

        </div>

        <div class="text-center">
            <h5 class="card-title">Set de llaves </h5>
            <h5 class="card-title">set de llaves de 2.5mm a 20mm de exelente calida japonesa para sus proyectos junto a ferremas🔧🛠️.</h5>
            <h5 class="precio">$5.000 pesos</h5>
            <a href="{% url 'catalogo' %}" class="btn btn-primary">Ver en el catalogo</a>
        </div>
    </div>

    
    
    
</main>
<footer>
  <br /><br />
  <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
              <div class="card-body" id="footers">
                  <h5 class="card-title" style="color: blueviolet">CONTACTO</h5>
                  <ul>
                      <li>Contáctanos a través de Redes sociales o al mail servicioalcliente@ferremas.cl.</li>
                      <li>HORARIO DE ATENCIÓN TIENDA WEB Lunes a Viernes: De 08:00 AM a 17:30</li>
                      <li>Acerca de <a href="about">Nosotros</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-sm-6 m">
          <div class="card">
              <div class="card-body" id="footers">
                  <h5 class="card-title" style="color: blueviolet">Nuestros Medios de Pago</h5>
                  <img src="{% static 'images/webpay-plus-integracion.png' %}" style="width: 150px; height: auto;" />
                  <img src="{% static 'images/mach.jpg' %}" style="width: 150px; height: auto;" />
                  <img src="{% static 'images/kippu.png' %}" style="width: 150px; height: auto;" />
                  
              </div>
          </div>
      </div>
  </div>
</footer>


  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
